* {
    font-style: Roboto, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
    color: white;
    display:flex;
    
}


.body-desc {
    width: 500px;
    margin-left: 100px;
    margin-top: 25px;
}

.body-desc>h2 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    color: #F9FAF8;
}

.body-desc>p {
    margin:0;
    text-wrap: wrap;
    
}

.body-info {
    flex: 1;
  display: flex;
  background-color: #1f2937;
    color: white;
    text-wrap: wrap;
    justify-content: space-between;
    
}

.body-info>img {
    width: 200px;
    padding: 48px;
    display: flex;
    gap: 32px;
    
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    margin-left: 48px;
}

.header {
    background-color: #1f2937;
    color: white;
    height: 5vh;
    display:flex;
    justify-content: space-between;
    flex: 1;
}

.header-right,.header-left {
    display: flex;
    align-items: center;
    gap: 28px;
    
}

.information {
    color: grey;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: -26px;
    
}

.information-title {
    margin-bottom: 20px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.items {
    max-width: 200px;
    
}

.information,.quote {
    height: 25vh;
    
}

.signup-space {
    height: 18vh;
    justify-content: center;
    display: flex;
}


.quote {
    background-color: #E5E7EB;
}

.quote-text {
    margin: 60px 150px;
    font-size: 20px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.signup-box,button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;

}

.signup-box {
    width: 700px;
    margin: 15px;
    margin-left: 150px;
    margin-right: 80px;  
}

.signup-box>p,h3, button {
    margin-left: 20px;
}

.footer {
    height: 7vh;
    background-color: #1f2937;
}

.footer>p {
    color: white;
    margin-top: 25px;
    text-align: center;
}